<h1>Quizzes#index</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Created_at</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz, i| %>
      <tr>
        <td style="width: 20%"><%= quiz.created_at %></td>
        <td style="width: 60%"><%= quiz.title %></td>
        <td style="width: 10%"><%= link_to "show", quiz_path(quiz) %></td>
        <td style="width: 10%"><%= link_to "answer", quiz_answer_path(quiz) %></td>
      </tr>
    <% end %>
  </tbody>
</table>