<button type="button" class="btn btn-primary btn-lg">
  <%= link_to("Quizをアップロード", new_quiz_path, {class: "text-white text-decoration-none"}) %>
</button>


<%= link_to("Quiz作成はこちら", "#") %>

<button type="button" class="btn btn-primary btn-lg">
  <%= link_to("Quizに答える", quizzes_path, {class: "text-white text-decoration-none"}) %>
</button>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">クイズをアップロードする</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">送信</button>
      </div>
    </div>
  </div>
</div>