<button type="button" class="btn btn-primary btn-lg">
  <%= link_to("Quizをアップロード", new_quiz_path, {class: "text-white text-decoration-none"}) %>
</button>


<%= link_to("Quiz作成はこちら", "#") %>

<button type="button" class="btn btn-primary btn-lg">
  <%= link_to("Quizに答える", quizzes_path, {class: "text-white text-decoration-none"}) %>
</button>


