@import "bootstrap-sprockets";
@import "bootstrap";

html {
  font-size: 1rem;
  h1 {
    font-size: 2em;
    color: #165290;
  }
  h2 {
    font-size: 1.5em;
    color: #165290;
  }
  h3 {
    font-size: 1.2em;
    color: #165290;
  }
}

li {
  list-style-type: none;
}

.upload-notice {
  background-color: #fff3cd;
  border-radius: 2%;
  .img {
    width: 30%;
    height: 30%
  }
}